<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>numberOfNewestProduct</param-name>
        <param-value>4</param-value>
    </context-param>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controllers.Authenticate.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmailServlet</servlet-name>
        <servlet-class>Controllers.Authenticate.LoginEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controllers.Authenticate.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controllers.Authenticate.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controllers.Product.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductByTextServlet</servlet-name>
        <servlet-class>Controllers.Product.SearchProductByTextServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controllers.Product.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>Controllers.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProduct</servlet-name>
        <servlet-class>Controllers.Shop.CreateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartDetailsServlet</servlet-name>
        <servlet-class>Controllers.Cart.CartDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillDetails</servlet-name>
        <servlet-class>BillDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillDetailsServlet</servlet-name>
        <servlet-class>Controllers.Bill.BillDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmailServlet</servlet-name>
        <url-pattern>/loginEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductByTextServlet</servlet-name>
        <url-pattern>/searchProductByText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProduct</servlet-name>
        <url-pattern>/createProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartDetailsServlet</servlet-name>
        <url-pattern>/cartDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillDetails</servlet-name>
        <url-pattern>/billDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillDetailsServlet</servlet-name>
        <url-pattern>/billDetail</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
