<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintProduct</servlet-name>
        <servlet-class>controller.PrintProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccessoryDetail</servlet-name>
        <servlet-class>controller.AccessoryDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BirdDetail</servlet-name>
        <servlet-class>controller.BirdDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadByCate</servlet-name>
        <servlet-class>controller.LoadByCate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCusProfileServlet</servlet-name>
        <servlet-class>controller.EditCusProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VCIServlet</servlet-name>
        <servlet-class>controller.VCIServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderListServlet</servlet-name>
        <servlet-class>controller.ViewOrderListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RamdomProductServlet</servlet-name>
        <servlet-class>controller.RamdomProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortHotProductServlet</servlet-name>
        <servlet-class>controller.SortHotProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortProductNew</servlet-name>
        <servlet-class>controller.SortProductNew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortServlet1</servlet-name>
        <servlet-class>controller.SortServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortUpServlet</servlet-name>
        <servlet-class>controller.SortUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SortBirdsByPriceRange</servlet-name>
        <servlet-class>controller.SortBirdsByPriceRange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintProduct</servlet-name>
        <url-pattern>/PrintProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccessoryDetail</servlet-name>
        <url-pattern>/AccessoryDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BirdDetail</servlet-name>
        <url-pattern>/BirdDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadByCate</servlet-name>
        <url-pattern>/LoadByCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCusProfileServlet</servlet-name>
        <url-pattern>/EditCusProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VCIServlet</servlet-name>
        <url-pattern>/VCIServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderListServlet</servlet-name>
        <url-pattern>/ViewOrderListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RamdomProductServlet</servlet-name>
        <url-pattern>/RamdomProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortHotProductServlet</servlet-name>
        <url-pattern>/SortHotProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortProductNew</servlet-name>
        <url-pattern>/SortProductNew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortServlet1</servlet-name>
        <url-pattern>/SortServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortUpServlet</servlet-name>
        <url-pattern>/SortUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SortBirdsByPriceRange</servlet-name>
        <url-pattern>/SortBirdsByPriceRange</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
